.rows {
    text-align: center;
    position: relative;
    left: 0%;
    width: 100%;
    margin-top: 0%;
    height: 25%;
}

.desks {
    font-family: fantasy;
    text-align: center;
    position: relative;
    left: 0%;
    width: 25%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    top: 20%;
    height: 60%;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.1s ease;
    box-shadow: 0px 5px 5px;
    vertical-align: top;
    filter: saturate(80%);
    background-image: url("wood.jpg");
    background-size: 100%, 100%;
}
.desks:hover {
    top: 15%;
    height: 70%;
    width: 26%;
    box-shadow: 0px 10px 10px;
    margin-left: 12%;
    margin-right: 12%;
    background-size: 100%, 100%;
}
#desk1 {
    filter: saturate(100%);
}
#desk2 {
    filter: saturate(100%);
}
#desk3 {
    filter: saturate(100%);
}
#classroom {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgb(77, 77, 77);
    background-image: url("floor.png");
    background-size: 50%;
}